<table mat-table [dataSource]="dataSource" matSort class="invoices-table mat-elevation-z1">
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата создания</th>
    <td mat-cell *matCellDef="let element"> {{ element.creationDate | date : 'M.d.yy, hh:mm' }} </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер счета</th>
    <td mat-cell *matCellDef="let element"> {{ element.number }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус платежа</th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Сумма</th>
    <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
  </ng-container>

  <ng-container matColumnDef="paymentMethod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Способ оплаты</th>
    <td mat-cell *matCellDef="let element"> {{ element.paymentMethod }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
